.PinCard{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: grid;
    box-shadow:  11px 11px 22px #d9d9d9, 
                -11px -11px 22px #ffffff;
    transition: 0.8s cubic-bezier(0.23, 1, 0.320, 1);
    background: #ffffff
}

.PinCard:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 9px 9px 16px #d9d9d9,
    -9px -9px 16px #ffffff;
    box-shadow:  21px 21px 42px #d9d9d9, 
                -21px -21px 42px #ffffff;

}

.PinCard h1{
    font-size: 100px;
 
    padding-left: 30px;
}

.PinCard h2{
    font-size: 40px;
    margin-top: -70px;
    padding-left: 40px;
}

.PinCard h3{
    margin-top: -40px;
    padding-left: 40px;
    color: red;
}



@media (max-width: 720px){
    .PPinCard{
        width: 450px;
        height: 225px;
    
    }
}
