.Card{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: grid;
    box-shadow:  11px 11px 22px #d9d9d9, 
                -11px -11px 22px #ffffff;
    transition: 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.Card:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 9px 9px 16px #d9d9d9,
    -9px -9px 16px #ffffff;
    box-shadow:  21px 21px 42px #d9d9d9, 
                -21px -21px 42px #ffffff;

}

@media (max-width: 720px){
    .Card{
        width: 450px;
        height: 225px;
    
    }
}
