.jumbotron {
    margin: 0px auto;
    max-width: 900px;
    padding: 150px 50px;
    text-align: center;
  } 
  
  .CardGroup{

    display: grid;
    padding: 50px 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .NewsH1{
    padding-left: 100px;
    margin-bottom: -20px;
  }
  
  @media (max-width: 720px){
  
    .CardGroup{
      grid-template-columns: repeat(1, 1fr);
    }
  
  }


button{
  border: none;
  background-color: white;
}


  @media (max-width: 1390px){
  
    .CardGroup{
      grid-template-columns: repeat(2, 1fr);
    }
  
  }
