.jumbotron {
    margin: 0px auto;
    max-width: 900px;
    padding: 150px 50px;
    text-align: center;
  } 
  
  .CardGroup{
    margin: 50px auto;
    display: grid;
    padding: 150px 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  
  @media (max-width: 720px){
  
    .CardGroup{
      grid-template-columns: repeat(1, 1fr);
    }
  
  }

